<div class = "hahah">
</div>
<b> 3. Payment method </b>
<div class="card" style="width: 50rem;">
  <div class = "card-body" >
    <div id="payment-panel">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="sq-payment-form">
  <div id="sq-walletbox">
    <button id="sq-google-pay" class="button-google-pay"></button>
    <button id="sq-apple-pay" class="sq-apple-pay"></button>
    <button id="sq-masterpass" class="sq-masterpass"></button>
    <div class="sq-wallet-divider">
      <span class="sq-wallet-divider__text">Or</span>
    </div>
  </div>
  <div id="sq-ccbox">
    <form id="nonce-form" novalidate action="/shopping_carts/process_payment" method="post">
      <div class="sq-field">
        <label class="sq-label">Card Number</label>
        <div id="sq-card-number"></div>
      </div>
      <div class="sq-field-wrapper">
        <div class="sq-field sq-field--in-wrapper">
          <label class="sq-label">CVV</label>
          <div id="sq-cvv"></div>
        </div>
        <div class="sq-field sq-field--in-wrapper">
          <label class="sq-label">Expiration</label>
          <div id="sq-expiration-date"></div>
        </div>
        <div class="sq-field sq-field--in-wrapper">
          <label class="sq-label">Postal</label>
          <div id="sq-postal-code"></div>
        </div>
      </div>
      <div class="sq-field">
        <button id="sq-creditcard" class="sq-button" onclick="onGetCardNonce(event)">
          Pay <%= number_to_currency(cart_total) %> Now
        </button>
      </div>
      <!--
        After a nonce is generated it will be assigned to this hidden input field.
      -->
      <div id="error"></div>
      <input type="hidden" id="card-nonce" name="nonce">
    </form>
  </div>
</div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="cart_buttons">
      <%= link_to "Continue Shopping", shop_path, class: "button cart_button_checkout" %>
    </div>
  </div>
</div>

<!-- End Payment Form -->
