<div class="home">
  <section class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/assets/blog_single_background.jpg" data-speed="0.8"><img  src="/assets/blog_single_background.jpg"></div>
  </section>

</div>

<!-- Single Blog Post -->

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">About US - Talotsing</div>
        <div class="single_post_text">
          <p>www.talotsing.com was established in 2018, a professional manufacturer which is especially producing women bra, women panties, sleepwear, swimming wear, sexy lingerie, men shirt and full serious of baby and mother apparel and accessories export business.</p>
          <p>As a professional fashion apparel and accessories company, our factory owned 6 different production departments, 150 professional technicians and 1800 employees at present. We can, therefore, guarantee to provide our customers with competitive prices, prompt delivery and a wide range of apparel and accessories.</p>
          <p>Equipped with years of experience, computerized equipment and strict quality control, We promises each apparel or accessories checked up by our quality control team to ensure the excellent quality of our products.</p>
          <p>Thousands of our products are widely distributed to more than 60 countries and areas all over the world. You can visit our website to get more updated information or contact us directly. We feel for sure that you will find one or more items that attract you! We look forward to cooperating with you and seeking a joint development, your relative inquiry will get a prompt response from us.</p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Our Domain:</div>
        <div class="single_post_text">
          <p>www.talotsing.com is our domain which is the apparel and clothes online shopping website. We have the warehouse stock to ensure the fast delivery.</p>
          <p>Please feel free to visit our website and choose the apparel and clothing you like. More fashion and popular apparel and clothing will be added soon.

          </p>
          <p>Talotsing is the retail website, which have the warehouse stock, the products can get the smaller quantities to fit your inquiry. And if the products that you want almost contain the stock, they will be ready in a very shortly time, which can save your time at most.

          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">We promise to:
        </div>
        <div class="single_post_text">
          <p>Offer our customers the lowest price for all of our apparel and clothes.</p>
          <p>Streamline the buying and paying process.
          </p>
          <p>ODeliver goods to our customers all over the world with speed and precision.
          </p>
          <p>Ensure the excellent quality of our products.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>