<div class="container">
    <div class="row">
        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>

        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>

        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>


        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>

        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>

        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>

        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://gimg3.fbeads.us//produceSort/160922/1474548693.jpg" class="img-responsive"> here is title
                </a>
            </div>
        </div>

        <div class="col-lg-2dot4">
            <div class="category-item">
                <a herf="#">
                    <img src="https://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_08-22-17-781_1000x.jpg?v=1532531347" class="img-responsive"> here is title
                </a>
            </div>
        </div>
    </div>
</div>