<div class="cart_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="purchase-main">
          <ol class="progress-bar">
            <li class="progress-bar__steps current">
              <span class="progress-bar__steps--text ">Review your Order</span>
            </li>
            <li class="progress-bar__steps ">
              <span class="progress-bar__steps--text">Payment</span>
            </li>
            <li class="progress-bar__steps ">
              <span class="progress-bar__steps--text">Done</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div id="review-order-panel">
      <div class="row" id="address-group-penal">
        <div class="col-lg-10 offset-lg-1">
          <div class="adress-panel">
            <div class="default">
              <p>Default address</p>
            </div>
            <div class="panel-body">
              <div class="row">
                <input type="radio" checked>
                <label>Name here</label>
              </div>
              <div class="row">
                <div class="caption">
                  <img src="/assets/contact_3.png" alt="">
                  <p>suit 5 Ahmad center I 8 markaz Islamabad Pakistan</p>
                  <p>Islamabad, Fedral, 44000</p>
                  <p>Pakistan</p>
                </div>
              </div>
              <div class="row">
                <div class="caption">
                  <img src="/assets/phone.png" alt="">
                  <p>+92-344######</p>
                </div>
              </div>
            </div>
            <div class="edit">
              <a href="#" class="show-inputs-group">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
              </a>
            </div>
          </div>
          <a href="#" class="show-inputs-group">
            <span class="glyphicon glyphicon-plus"></span>
            Add a new address
          </a>
        </div>
      </div>
      <div class="row" id="form-inputs-group">
        <div class="col-lg-6 offset-lg-1">
          <form>
            <div class="form-group row">
              <label class="form-label col-md-3">Contact Name:</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-3">Country/Region:</label>
              <div class="col-md-9">
                <select class="form-control">
                  <option value="example">example</option>
                  <option value="example">example</option>
                  <option value="example">example</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label col-md-3">Street Address:</label>
              <div class="col-md-9">
                <input type="text" placeholder="Street address" class="form-control">
                <input type="text" placeholder="Apartment, suite, unit etc. (optional)" class="form-control">
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label col-md-3">State/Province:</label>
              <div class="col-md-9">
                <select class="form-control">
                  <option value="example">example</option>
                  <option value="example">example</option>
                  <option value="example">example</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-3">City:</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-3">Zip/Postal Code:</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-3">Mobile:</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="cart_buttons">
            <button type="button" class="button cart_button_clear">Cancel</button>
            <button type="button" class="button cart_button_checkout">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div id="payment-panel">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Card number:</label>
                  <input type="text" class="cc form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Expiry Date:</label>
                  <div class="row">
                    <div class="col-md-5">
                      <input type="text" placeholder="MM" class="form-control" />
                    </div>
                    <div class="col-md-1">
                      <p class="divider">/</p>
                    </div>
                    <div class="col-md-5">
                      <input type="text" placeholder="YY" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Cardholder Name:</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" placeholder="First Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                      <input type="text" placeholder="Last Name" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <div class="cart_buttons">
                  <button type="button" class="button cart_button_clear">Cancel</button>
                  <button type="button" class="button cart_button_checkout">Done</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="payment-done-panel">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="thanksforshoping">
            <img src="/assets/char_1.png" alt="">
            <p>Thanks for shoping with us</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cart_container">
          <div class="cart_items">
            <ul class="cart_list">
              <li class="cart_item clearfix">
                <div class="cart_item_image">
                  <img src="/assets/shopping_cart.jpg" alt="">
                </div>
                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                  <div class="cart_item_name cart_info_col">
                    <div class="cart_item_title">Name</div>
                    <div class="cart_item_text">MacBook Air 13</div>
                  </div>
                  <div class="cart_item_color cart_info_col">
                    <div class="cart_item_title">Color</div>
                    <div class="cart_item_text">
                      <span style="background-color:#999999;"></span>Silver</div>
                  </div>
                  <div class="cart_item_quantity cart_info_col">
                    <div class="cart_item_title">Quantity</div>
                    <div class="cart_item_text">1</div>
                  </div>
                  <div class="cart_item_price cart_info_col">
                    <div class="cart_item_title">Price</div>
                    <div class="cart_item_text">$2000</div>
                  </div>
                  <div class="cart_item_total cart_info_col">
                    <div class="cart_item_title">Total</div>
                    <div class="cart_item_text">$2000</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Order Total -->
          <div class="order_total">
            <div class="order_total_content text-md-right">
              <div class="order_total_title">Order Total:</div>
              <div class="order_total_amount">$2000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(".progress-bar").css("flex-direction","row");
    $('.show-inputs-group').click(function () {
        $('#address-group-penal').hide('slow');
        $('#form-inputs-group').show('slow');
    });
    $(document).ready(function () {
        var pro = document.getElementsByClassName('progress-bar');
        var liarray = pro[0].getElementsByTagName('li');
        for (var i = 0; i < liarray.length; i++) {
            if (i === 0 && liarray[i].className === 'progress-bar__steps current') {
                $('#review-order-panel').show();
                $('#payment-panel').hide();
                $('#payment-done-panel').hide();
            } else if (i === 1 && liarray[i].className === 'progress-bar__steps current') {
                $('#review-order-panel').hide();
                $('#payment-panel').show();
                $('#payment-done-panel').hide();
            } else if (i === 2 && liarray[i].className === 'progress-bar__steps current') {
                $('#review-order-panel').hide();
                $('#payment-panel').hide();
                $('#payment-done-panel').show();
            }
        }
    });

    function checkLuhn(input) {
        var sum = 0;
        var numdigits = input.length;
        var parity = numdigits % 2;
        for (var i = 0; i < numdigits; i++) {
            var digit = parseInt(input.charAt(i))
            if (i % 2 == parity) digit *= 2;
            if (digit > 9) digit -= 9;
            sum += digit;
        }
        return (sum % 10) == 0;
    };

    function detectCard(input) {
        var typeTest = 'undefined',
            ltest1 = 16,
            ltest2 = 16;
        if (/^4/.test(input)) {
            typeTest = 'visa';
            ltest1 = 13;
        } else if (/^5[1-5]/.test(input)) {
            typeTest = 'mastercard';
        } else if (/^3[4-7]/.test(input)) {
            typeTest = 'amex';
            ltest1 = 15;
            ltest2 = 15;
        } else if (/^6(011|4[4-9]|5)/.test(input)) {
            typeTest = 'discover';
        }
        return [typeTest, ltest1, ltest2];
    }


    $('input.cc').keyup(function () {
        var val = this.value,
            val = val.replace(/[^0-9]/g, ''),
            detected = detectCard(val),
            errorClass = '',
            luhnCheck = checkLuhn(val),
            valueCheck = (val.length == detected[1] || val.length == detected[2]);
        if (luhnCheck && valueCheck) {
            errorClass = 'verified';
        } else if (valueCheck || val.length > detected[2]) {
            errorClass = 'error';
        }

        $(this).attr('class', 'cc ' + detected[0] + ' ' + errorClass);
    });
</script>