<div class="home">
  <section class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/assets/blog_single_background.jpg" data-speed="0.8"><img  src="/assets/blog_single_background.jpg"></div>
  </section>

</div>

<!-- Single Blog Post -->

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Contact us</div>
        <div class="single_post_title">Customer Service
        </div>
        <div class="single_post_text">
          <p>Support on facebook <a href="https://www.messenger.com/t/473678129767681" target="_blank">Click here</a></p>
          <p>Service by Phone: <a href="tel:+16266150262">Click here</a>

          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Link Requests</div>
        <div class="single_post_text">
          <p>For information and requests regarding link submission to our resources directory <a href="mailto:talotsing@gmail.com" target="_top">Click here</a>
          </p>

        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Product Suggestions
        </div>
        <div class="single_post_text">
          <p>We welcome your suggestions. If there is a product you think we should make available, please <a href="mailto:talotsing@gmail.com" target="_top">Click here</a> to tell us about it
          </p>
          <p>1407 Fulton St, Brooklyn
          </p>
          <p>Brooklyn, NY 11216
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
