<div class="home">
  <section class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/assets/blog_single_background.jpg" data-speed="0.8"><img  src="/assets/blog_single_background.jpg"></div>
  </section>

</div>

<!-- Single Blog Post -->

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Discount Policy
        </div>

        <div class="single_post_text">
          <p>Warmly notice:</p>
          <p>But we can still provide some discounts for the big orders in order to give our customers a support and favor. Welcome to contact with us for details if you have a big order or some other good ideas. Thanks!</p>
        </div>
      </div>
    </div>
  </div>
</div>