<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-interval="false"
           data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block w-100 zoome" src="/assets/slider-img.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 zoome" src="/assets/slider-img.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 zoome" src="/assets/slider-img.jpg" alt="Third slide">
          </div>
        </div>
        <ol class="carousel-indicators" id="carousel-thumb-hover">
          <li data-target="#carousel-thumb" data-slide-to="0" class="active">
            <img class="d-block w-100" src="/assets/slider-img.jpg" class="img-fluid">
          </li>
          <li data-target="#carousel-thumb" data-slide-to="1">
            <img class="d-block w-100" src="/assets/slider-img.jpg" class="img-fluid">
          </li>
          <li data-target="#carousel-thumb" data-slide-to="2">
            <img class="d-block w-100" src="/assets/slider-img.jpg" class="img-fluid">
          </li>
        </ol>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="magnifier-preview" id="preview"></div>
      <a href="#">
        <p class="title">Artificial Fur Soft & Plus Size Women Coat mid-long style fuchsia Sold By PC</p>
      </a>
      <div class="des-text">
        <ul id="proInfo" class="clearfix">
          <li><span>Item No:</span><em class="c666">180922060334</em>
          </li>
          <li id="all_dispath" data24="Within 24 hours" data5d="Within 5 days"><span>Dispatch:</span><em>Within
            5 days</em></li>
          <li><span>Material :</span><em>Artificial Fur</em></li>
          <li><span>Design:</span><em>Slim,contrast color,Plus Size</em></li>
          <li><span>Craft:</span><em>patchwork</em></li>
          <li><span>Type:</span><em>Women Coat</em></li>
          <li><span>Pattern Style:</span><em>leopard</em></li>
          <li><span>Style:</span><em>European and American style</em></li>
          <li><span>Sleeve:</span><em>long sleeve</em></li>
          <li><span>Collar:</span><em>lapel collar</em></li>
          <li><strong class="red">In Stock - Available</strong></li>
          <li class="undis" style="display: none;"><span>Packing:</span><em id="sonpropacking"></em></li>
          <li class="undis" style="display: list-item;"><span>Weight:</span><em id="son_weight">510 gram</em></li>
        </ul>
      </div>
      <div class="select_alls" id="sonProduce">
        <ul>
          <li data-size="Size" class="li_text">
            <p>Size:</p>
            <div class="w_100">
              <span sonpiid="1" pkey="0" data-title="S">S</span>
              <span sonpiid="2" pkey="0" data-title="M" class="hovers">M</span>
              <span sonpiid="3" pkey="0" data-title="L">L</span>
              <span sonpiid="4" pkey="0" data-title="XL">XL</span>
              <span sonpiid="5" pkey="0" data-title="XXL">XXL</span>
              <span sonpiid="6" pkey="0" data-title="XXXL">XXXL</span>
            </div>
            <div id="size-tips" class="tips-content undis" style="display: block;">
              <p class="content" id="sizeContent">
                <font class="fs12 fb">Bust</font>:96cm, <font class="fs12 fb">Shoulder</font>:38cm,
                <font class="fs12 fb">Sleeve Length</font>:60cm, <font class="fs12 fb">Top Length</font>:82cm
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="sizechanginch undis" style="display: block;">
        <p id="sizeShow" data-toggle="collapse" data-target="#demo" class="collapse-title collapsed" style="border-bottom: 0px solid;">
          <!-- <span class="icon-add pull-right"> -->
          <!-- <img width="20" height="20" src="/assets/minus.png"> -->
          <!-- </span> -->
          <i class="fa" aria-hidden="true"></i>Size Guide</p>
        <div class="size undis collapse" id="demo">

          <div class="btn-group">
            <button id="size_table" type="button" data-flag="cm" class="btn btn-primary">Centimeters</button>
            <button id="size_inch" type="button" data-flag="inch" class="btn btn-default">inch</button>
            <button id="size_img" type="button" data-flag="img" class="btn btn-default">How To Measure</button>
          </div>
          <div class="fs16 ml15 pt15 fb indis">1(in)=2.5399(cm)</div>
          <div class="table-container">
            <div class="size_img" style="display: none;"><img src="https://gimg3.fbeads.us/produceSort/20170822/1503369203.jpg"></div>
            <table class="size_inch" style="display: none;">
              <tbody>
              <tr>
                <td>Our Size</td>

                <td>Bust</td>

                <td>Shoulder</td>

                <td>Sleeve Length</td>

                <td>Top Length</td>
              </tr>
              <tr>
                <td>S</td>
                <td class="size_change" data-key="Bust" data-init="92">35.88</td>
                <td class="size_change" data-key="Shoulder" data-init="37">14.43</td>
                <td class="size_change" data-key="Sleeve Length" data-init="59">23.01</td>
                <td class="size_change" data-key="Top Length" data-init="81">31.59</td>
              </tr>
              <tr>
                <td>M</td>
                <td class="size_change" data-key="Bust" data-init="96">37.44</td>
                <td class="size_change" data-key="Shoulder" data-init="38">14.82</td>
                <td class="size_change" data-key="Sleeve Length" data-init="60">23.40</td>
                <td class="size_change" data-key="Top Length" data-init="82">31.98</td>
              </tr>
              <tr>
                <td>L</td>
                <td class="size_change" data-key="Bust" data-init="100">39.00</td>
                <td class="size_change" data-key="Shoulder" data-init="39">15.21</td>
                <td class="size_change" data-key="Sleeve Length" data-init="61">23.79</td>
                <td class="size_change" data-key="Top Length" data-init="83">32.37</td>
              </tr>
              <tr>
                <td>XL</td>
                <td class="size_change" data-key="Bust" data-init="104">40.56</td>
                <td class="size_change" data-key="Shoulder" data-init="40">15.60</td>
                <td class="size_change" data-key="Sleeve Length" data-init="62">24.18</td>
                <td class="size_change" data-key="Top Length" data-init="84">32.76</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td class="size_change" data-key="Bust" data-init="108">42.12</td>
                <td class="size_change" data-key="Shoulder" data-init="41">15.99</td>
                <td class="size_change" data-key="Sleeve Length" data-init="63">24.57</td>
                <td class="size_change" data-key="Top Length" data-init="85">33.15</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td class="size_change" data-key="Bust" data-init="112">43.68</td>
                <td class="size_change" data-key="Shoulder" data-init="42">16.38</td>
                <td class="size_change" data-key="Sleeve Length" data-init="64">24.96</td>
                <td class="size_change" data-key="Top Length" data-init="86">33.54</td>
              </tr>
              </tbody>
            </table>
            <table class="size_table" style="display: table;">
              <tbody>
              <tr>
                <td>Our Size</td>

                <td>Bust</td>

                <td>Shoulder</td>

                <td>Sleeve Length</td>

                <td>Top Length</td>
              </tr>
              <tr>
                <td>S</td>
                <td class="size_change" data-key="Bust" data-init="92">92</td>
                <td class="size_change" data-key="Shoulder" data-init="37">37</td>
                <td class="size_change" data-key="Sleeve Length" data-init="59">59</td>
                <td class="size_change" data-key="Top Length" data-init="81">81</td>
              </tr>
              <tr>
                <td>M</td>
                <td class="size_change" data-key="Bust" data-init="96">96</td>
                <td class="size_change" data-key="Shoulder" data-init="38">38</td>
                <td class="size_change" data-key="Sleeve Length" data-init="60">60</td>
                <td class="size_change" data-key="Top Length" data-init="82">82</td>
              </tr>
              <tr>
                <td>L</td>
                <td class="size_change" data-key="Bust" data-init="100">100</td>
                <td class="size_change" data-key="Shoulder" data-init="39">39</td>
                <td class="size_change" data-key="Sleeve Length" data-init="61">61</td>
                <td class="size_change" data-key="Top Length" data-init="83">83</td>
              </tr>
              <tr>
                <td>XL</td>
                <td class="size_change" data-key="Bust" data-init="104">104</td>
                <td class="size_change" data-key="Shoulder" data-init="40">40</td>
                <td class="size_change" data-key="Sleeve Length" data-init="62">62</td>
                <td class="size_change" data-key="Top Length" data-init="84">84</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td class="size_change" data-key="Bust" data-init="108">108</td>
                <td class="size_change" data-key="Shoulder" data-init="41">41</td>
                <td class="size_change" data-key="Sleeve Length" data-init="63">63</td>
                <td class="size_change" data-key="Top Length" data-init="85">85</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td class="size_change" data-key="Bust" data-init="112">112</td>
                <td class="size_change" data-key="Shoulder" data-init="42">42</td>
                <td class="size_change" data-key="Sleeve Length" data-init="64">64</td>
                <td class="size_change" data-key="Top Length" data-init="86">86</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="proBtnbuy ow">
        <p>
          <span class="red">$ 11.00/PC</span>QTY: <input name="Count" type="text" value="1" class="txt w50 mt5 mr5">
        </p>
        <!-- <p class="mt5"> -->
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fa fa-cart-plus" aria-hidden="true"></i> Shopping Cart
        </button>
        <div class="fav">
          <a href="javascript:void(0);"><i class="fa fa-heart" aria-hidden="true"></i></a>
        </div>
        <!-- </p> -->
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pro-container">
        <div class="pro-container-header">
          <p>You May Also Like</p>
        </div>
        <div class="row">
          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>

          <div class="col-lg-2dot4">
            <div class="img-card">
              <img class="w-100" src="/assets/slider-img.jpg" alt="">
              <p class="red">US $19</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>