<div class="home">
  <section class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/assets/blog_single_background.jpg" data-speed="0.8"><img  src="/assets/blog_single_background.jpg"></div>
  </section>

</div>

<!-- Single Blog Post -->

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Instructions For Returning Goods
        </div>
        <div class="single_post_text">
          <p>For fastest service, be sure to read and follow detail information below before packaging and returning your item:</p>
          <p> <strong>Defective Products</strong>: We will accept returns on website purchases within two week of delivery arrival. All defective products can be returned for refund or replacement, we also will be responsible for the return shipping cost. The customer is liable to confirm with Talotsing.com for a advisable shipping method.The defective products can be refund or replaced as soon your returned products arrives.</p>
          <p><strong>Non-defective Products</strong>: Products that are not defective can be returned for replacement, even if just for the product is unsatisfactory for the application, but must apply within 14 days from the arrival date of shipment.</p>
          <p><strong>Cancellation</strong>: For paid orders,usually we will process once we receive the payment,if you want to cancel it, we will refund equal money to you.But kindly pls note if the order has been finished and ready for shipment, we will charge 20% of goods value to recover the lost,Customers will only be charged once at most for shipping costs (this includes returns); No-restocking to be charged to the consumers for the return of the product, Money will be refunded by paypal,normally will take about 24 hours to get it.
          </p>
          <p>Prior to returning the product, contact Talotsing.com customer service department for a Return Authorization. All products returned to Talotsing.com must be securely packaged in the proper shipping materials and reach Talotsing.com without damage and please note that the parcel is for 'return products'.

          </p>
          <p>All returns should be sent to:



          </p>
          <p>TEL:+16266150262
          </p>
          <p>Please notify our customer service staff that your product is being shipped back.
            Any further details, you can please submit a ticket for a reply.
          </p>
          <p>However, customer have the right to cancel the order within 14 working days. This 14-day period begins on the day when you receive your purchase for goods, and on the day you accept the offer for supply of services. But you will have to pay the postage costs of shipping goods back to us.


          </p>
        </div>
      </div>


    </div>
  </div>
</div>