<div class="home">
  <section class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/assets/blog_single_background.jpg" data-speed="0.8"><img  src="/assets/blog_single_background.jpg"></div>
  </section>

</div>

<!-- Single Blog Post -->

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">How long after I pay can I expect to receive my order?
        </div>
        <div class="single_post_text">
          <p>There are four key factors that will decide when you will receive your items.

          </p>
          <p>1) <strong>Lead time</strong>: There are different processing times for different items. We typically ship about 15 days for standard order items, 5-7 days for stock items, however, we will try our best to prepare the item ASAP after you place an order on our website</p>
          <p>2) <strong>Shipping Method</strong>: Delivery time varies with shipping methods.</p>
          <p>For example: DHL, takes 2-4 business days while UPS takes 4-7 business days. Sea freight takes about 20-40 days depends on which seaport.
          </p>
          <p>
            3) Time in transit varies depending on where you're located
          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">4) Some unavoidable reasons:
        </div>
        <div class="single_post_text">
          <p>We will send you the item according to your requests, however, we can’t assure you exactly how many days you can receive this item. There are many factors that may cause the delay of your item, e.g. bad weather conditions, strikes as well as war, etc.

            No matter what the situation is, we will always send you the item before the shipping deadline, and try our best to negotiate with the related shipping companies to take your case as priority.

          </p>

        </div>
      </div>

    </div>
  </div>
</div>