<div class="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="contact_form_container">
          <div class="contact_form_title">Sign In</div>

          <form action="#" id="contact_form">
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Your Email" required="required" data-error="Name is required.">
            </div>
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Password" required="required" data-error="Email is required.">
            </div>
            <div class="contact_form_button">
              <button type="submit" class="button contact_submit_button">Sign In </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="panel"></div>
</div>
