
<div class="shop">
  <% if @category.present? %>
    <%= render "sub_categories" %>
  <% elsif @product_types.present? %>
    <%= render "product_types" %>
  <% else %>
    <%= render "selected_products" %>
  <% end %>
</div>
