<div class="home">
  <section class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/assets/blog_single_background.jpg" data-speed="0.8"><img  src="/assets/blog_single_background.jpg"></div>
  </section>

</div>

<!-- Single Blog Post -->

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Term Of Use
        </div>
        <div class="single_post_text">
          <p>Welcome to the website (the 'Site') of Talotsing.COM (Talotsing). Talotsing provides its services to you subject to the notices, terms, and conditions set forth in this agreement (the 'Agreement'). In addition, when you use any Talotsing service (e.g., Customer Reviews), you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such services, and they are incorporated into this Agreement by this reference. Talotsing reserves the right to change this Site and these terms and conditions at any time.accessing, browsing, or otherwise using the site indicates your agreement to all the terms and conditions in this agreement, so please read this agreement carefully before proceeding.

          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Use of site
        </div>
        <div class="single_post_text">
          <p>You represent and warrant that you are at least 18 years old or visiting the Site under the supervision of a parent or guardian. Subject to the terms and conditions of this Agreement, Talotsing hereby grants you a limited, revocable, non-transferable, and non-exclusive license to access and use the Site by displaying it on your Internet browser only for the purpose of shopping for personal items sold on the Site and not for any commercial use or use on behalf of any third party, except as explicitly permitted by Talotsing in advance. Any breach of this Agreement shall result in the immediate revocation of the license granted in this paragraph without notice to you. Except as permitted in the paragraph above, you may not reproduce, distribute, display, sell, lease, transmit, create derivative works from, translate, modify, reverse-engineer, disassemble, decompile, or otherwise exploit this Site or any portion of it unless expressly permitted by Talotsing in writing. You may not make any commercial use of any of the information provided on the Site or make any use of the Site for the benefit of another business unless explicitly permitted by Talotsing in advance. Talotsing reserves the right to refuse service, terminate accounts, and/or cancel orders in its discretion, including, without limitation, if Talotsing believes that customer conduct violates applicable laws or is harmful to Talotsing`s interests. You shall not upload to, distribute, or otherwise publish through this Site any Content, information, or other material that (a) violates or infringes upon the copyrights, patents, trademarks, service marks, trade secrets, or other proprietary rights of any person; (b) is libelous, threatening, defamatory, obscene, indecent, pornographic, or could give rise to any civil or criminal liability under U.K. or international law; or (c) includes any bugs, viruses, worms, trap doors, Trojan horses, or other harmful code or properties. Talotsing may assign you a password and account identification to enable you to access and use certain portions of this Site. Each time you use a password or identification, you will be deemed to be authorized to access and use the Site in a manner consistent with the terms and conditions of this Agreement, and Talotsing has no obligation to investigate the authorization or source of any such access or use of the Site. you will be solely responsible for all access to and use of this site by anyone using the password and identification originally assigned to you whether or not such access to and use of this site is actually authorized by you, including without limitation, all communications and transmissions and all obligations (including without limitation financial obligations) incurred through such access or use. You are solely responsible for protecting the security and confidentiality of the password and identification assigned to you. You shall immediately notify Talotsing of any unauthorized use of your password or identification or any other breach or threatened breach of this Site's security.</p>

        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Reviews and comments
        </div>
        <div class="single_post_text">
          <p>Except as otherwise provided elsewhere in this Agreement or on the Site, anything that you submit or post to the Site and/or provide Talotsing, including, without limitation, ideas, know-how, techniques, questions, reviews, comments, and suggestions (collectively, 'Submissions') is and will be treated as non-confidential and nonproprietary, and Talotsing shall have the royalty-free, worldwide, perpetual, irrevocable, and transferable right to use, copy, distribute, display, publish, perform, sell, lease, transmit, adapt, create derivative works from such Submissions by any means and in any form, and to translate, modify, reverse-engineer, disassemble, or decompile such Submissions. All Submissions shall automatically become the sole and exclusive property of Talotsing and shall not be returned to you. In addition to the rights applicable to any Submission, when you post comments or reviews to the Site, you also grant Talotsing the right to use the name that you submit with any review, comment, or other Content, if any, in connection with such review, comment, or other content. You represent and warrant that you own or otherwise control all of the rights to the reviews, comments, and other Content that you post on this Site and that use of your reviews, comments, or other Content by Talotsing will not infringe upon or violate the rights of any third party. You shall not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead Talotsing or third parties as to the origin of any Submissions or Content. Talotsing may, but shall not be obligated to remove or edit any Submissions (including comments or reviews) for any reason.

          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Intellectual property

        </div>
        <div class="single_post_text">
          <p>All text, graphics, button icons, images, audio clips, and software (collectively, 'Content'), belongs exclusively to Talotsing or its content suppliers. The collection, arrangement, and assembly of all content on this Site (the 'Compilation') belong exclusively to Talotsing. All software used on this Site (the 'software') is the property of Talotsing or its Software suppliers. The Content, the Compilation and the Software are all protected by U.K. and international copyright laws. Other logos, slogans, trade names or words are registered trademarks, trademarks, or service marks of Talotsing, its suppliers, or third parties. The use of any Talotsing trademark or service mark without Talotsing's expressly written consent is strictly prohibited. You may not use any Talotsing trademark or service mark in connection with any non-Talotsing product or service or in any way that is likely to cause confusion. You may not use Talotsing's trademarks or service marks in any manner that disparages or discredits Talotsing. You may not use any of the Talotsing trademarks or service marks in meta tags without the prior explicit consent of Talotsing. termination and effect of termination < In addition to any other legal or equitable remedies, Talotsing may, without prior notice to you, immediately terminate the Agreement or revoke any or all of your rights granted under this Agreement. Upon any termination of this Agreement, you shall immediately cease all access to and use of the Site and Talotsing shall, in addition to any other legal or equitable remedies, immediately revoke all password(s), and account identification issued to you and deny your access to and use of this Site in whole or in part. Any termination of this Agreement shall not affect the respective rights and obligations (including without limitation, payment obligations) of the parties arising before the date of termination.disclaimer and limitation of liability except as otherwise provided in the standard terms of sale that govern the sale of each product on this site, this site, the products offered for sale on it and the transactions conducted through it are provided by Talotsing on an 'as is' basis. Talotsing makes no representations or warranties of any kind, express or implied, as to the operation of the site or the information, content, materials, or products included on this site except as provided here to the full extent permissible by applicable law, Talotsing disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose, noninfringement, title, quiet enjoyment, data accuracy, and system integration. this site may include inaccuracies, mistakes or typographical errors. Talotsing does not warrant that the content will be uninterrupted or error free. to the maximum extent permitted by law, Talotsing will not be liable for any damages of any kind arising from the use of this site, including, but not limited to indirect, incidental, punitive, exemplary, special, or consequential damages. to the maximum extent permitted by applicable law, Talotsing`s total liability to you for any damages (regardless of the foundation for the action) shall not exceed in the aggregate the amount of fees actually paid by you to Talotsing during the month immediately preceding the act allegedly giving rise to Talotsing`s liability.
          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Order acceptance

        </div>
        <div class="single_post_text">
          <p>Please note that there may be certain orders that we are unable to accept and must cancel. Talotsing reserves the right, at its sole discretion, to refuse or cancel any order for any reason. Some situations that may result in your order being cancelled include limitations on quantities available for purchase, inaccuracies or errors in product or pricing information, or problems identified by our credit and fraud avoidance department. We may also require additional verifications or information before accepting any order. We will contact you if all or any portion of your order is cancelled or if additional information is required to accept your order. typographical errors While Talotsing strives to provide accurate product and pricing information, pricing or typographical errors may occur. Talotsing cannot confirm the price of an item until after you order. In the event that an item is listed at an incorrect price or with incorrect information due to an error in pricing or product information, Talotsing shall have the right, at our sole discretion, to refuse or cancel any orders placed for that item. In the event that an item is priced incorrectly, Talotsing may, at our discretion, either contact you for instructions or cancel your order and notify you of such cancellation. arbitration Where the parties fail to settle dispute within 30 days after such dispute occurs, they agree to submit such a dispute to Hong Kong International Arbitration Center (the 'HKIAC') for arbitration which shall be conducted in accordance with the Commission's arbitration rules in effect at the time of applying for arbitration. The arbitral awards are final and binding upon both parties.



          </p>
        </div>
      </div>

      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Links

        </div>
        <div class="single_post_text">
          <p>This site may contain links to other sites on the Internet that are owned and operated by third parties. You acknowledge that Talotsing is not responsible for the operation of or content located on or through any such site.





          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Remedies

        </div>
        <div class="single_post_text">
          <p>You agree that Talotsing's remedy at law for any actual or threatened breach of this Agreement would be inadequate and that Talotsing shall be entitled to specific performance or injunctive relief, or both, in addition to any damages that Talotsing may be legally entitled to recover, together with reasonable expenses of any form of dispute resolution, including, without limitation, attorneys' fees. No right or remedy of Talotsing shall be exclusive of any other, whether at law or in equity, including, without limitation, damages injunctive relief, attorneys' fees and expenses. No instance of waiver by Talotsing of its rights or remedies under these terms and conditions shall imply any obligation to grant any similar, future, or other waiver.





          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Customer Right


        </div>
        <div class="single_post_text">
          <p>Order will be shipped within 5-7days after paid,usually it will take 3-5days for shipping time.
            Without authorization,Customer privacy will be protected strictly.






          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">RIGHT OF CANCELLATION


        </div>
        <div class="single_post_text">
          <p>Unless one of the exceptions listed below applies, you can cancel your order without giving any reason within 14 days from the day on which you receive the goods purchased or from the day of the conclusion of the contract, in the case of services or digital content not supplied in a tangible medium (e.g. CD or DVD).
            You must send your communication before the 14 days’ cancellation period has expired and return the item.







          </p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">EXCEPTIONS TO THE RIGHT OF CANCELLATION



        </div>
        <div class="single_post_text">
          <p>The right of cancellation does not apply to:
            he delivery of products which are not suitable for return due to health protection or hygienic reasons if unsealed by you after delivery, or which are, after delivery, inseparably mixed with other items;
            the delivery of sealed audio or video recordings or of sealed software if unsealed by you after delivery;
            the supply of goods made to your specifications or clearly personalized;
            the supply of goods which may deteriorate or expire rapidly;


          </p>
        </div>
      </div>
    </div>
  </div>
</div>