
.mini-footer__links {
    float: left;
    width: 80%;
}

.logos {
    float: right;
}

.copyright_content {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.mini-footer__nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.mini-footer__nav ul li a {
    padding: 0 5px 0 8px;
    margin: 0;
    font-size: 11px;
    border-left: 1px solid #c5cbd5;
}

.mini-footer__nav ul li:first-child a {
    border-left: none;
    padding-left: 0;
}

.copyright_container {
    width: 100%;
    height: 56px;
    display: table;
    position: relative;
}

.cat_menu .hassubs a img {
    margin-right: 10px;
    margin-bottom: 4px;
}

.contact-us .fa {
    font-size: 18px;
    line-height: 2;
    background: white;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 10px;
    text-align: center;
    color: #232f3e;
}

.contact-us {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    background: #232f3e;
    border-radius: 9px;
    padding: 15px;
    position: fixed;
    color: white;
    width: 237px;
    display: block;
    text-align: left;
    padding-left: 55px;
    z-index: 999;
    bottom: 65px;
    right: 20px;
    border: solid 1px #FFF;
}

.contact-us:hover {
    background: #1d71b8;
}





.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.category-item {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.category-item a img {
    margin-bottom: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.category-item  .category-img {
    border: 1px solid #ccc;
    height: 295px;
    position: relative;
    overflow: hidden;
}
.tabbed_container .featured_slider_item {
    height: auto !important;
    padding-top: 10px;
}
.tabbed_container .product_item {
    padding-top: 0 !important;
}
.tabbed_container .featured_slider_item .product_image {
    height: auto !important;
    overflow: hidden;
}
.tabbed_container .featured_slider_item .product_image img {
    height: auto;
    width: 100%;
}
.tabbed_container .featured_slider_item .border_active, .tabbed_container .arrivals_slider_item .border_active {
    display: none !important;
}
.tabbed_container .featured_slider .slick-dots {
    bottom: 50px !important;
}

.tabbed_container .quick-view {
    padding-right: 28px !important;
    color: #fff;
    background-color: #25313e !important;
    border-color: #25313e !important;
    opacity: .7;
}
.tabbed_container .quick-view .material-icons {
    position: absolute;
    top: -1px;
    margin-left: 3px;
}
.tabbed_container .product_panel {
    margin-top: 10px;
}
.slick-initialized .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
}
.arrivals_slider .slick-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.arrivals_slider_item {
    height: auto !important;
    margin-bottom: 10px !important; 
}

.tabbed_container .arrivals_slider_item .product_image {
    height: auto !important;
    overflow: hidden;
}
.tabbed_container .arrivals_slider_item .product_image img {
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .category-item a img {
        height: auto;
    }
}
@media only screen and (max-width: 767px) {
    .category-item a img {
        height: auto;
    }
}
@media only screen and (max-width: 575px) {
    .logos {
        float: left;
    }
}