.product_item {
    width: 33.333333%;
    padding-right: 6px;
}

.product_image {
    height: 400px;
}

.product_image>img+img {
    position: absolute;
    display: none;
}

.product_image>img+img+a {
    position: absolute;
    display: none;
    bottom: 20px;
    padding-right: 28px;
    color: #fff;
    background-color: #25313e;
    border-color: #25313e;
    opacity: .7;
}

.product_image>img+img+a:hover {
    opacity: 1;
    background-color: #25313e;
    border-color: #25313e;
}

.product_item:hover .product_image>img+img,
.product_item:hover .product_image>img+img+a {
    display: block;
}

.product_marks {
    left: 6px;
}

.material-icons {
    position: absolute;
}
.modal-content {
    border: none;
    background-color: transparent;
}
.modal-body {
    background-color: #fff;
}
.close {
    font-weight: 400;
    color: #fff;
}
a:focus {
    outline: none;
}

.carousel-inner {
    width: 80%;
    float: left;
}

.carousel-inner > .item > img {
    width: 300px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
  
#myCarousel{
	margin: 0 auto;
    background: #fff;
    height: 450px;
    overflow: hidden;
}

#thumbCarousel{
	max-width: 650px;
	margin: 0 auto;
	overflow-y: scroll;
	background: transparent;
    padding-left: 10px;
    height: 450px;
}
#thumbCarousel > div > img {
    width: 60px;
    height: 90px;
	border: 1px solid #ccc;
}


#thumbCarousel .thumb{
	float: left;
	margin-right: 10px;
    background: #fff;
    margin-top: 4px;
}

#thumbCarousel .thumb:last-child{
	margin-right: 0;
}

.thumb:hover{
	cursor: pointer;
}

.thumb img{
	opacity: 0.5;
}

.thumb img:hover{
	opacity: 1;
}

.thumb.active img{
  opacity: 1;
  border: 1px solid #1d62b7;
}

.product-info h3 {
    font-weight: 200;
    font-size: 30px;
}
.product-info h3 + h3 {
    font-weight: 600;
}



.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: transparent !important;
}

.panel-default>.panel-heading {
    color: #333;
    padding: 0;
    border-top: 1px solid #e4e5e7;
    /* border-bottom: 1px solid #e4e5e7; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.panel-default > .panel-heading .panel-title {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
  
  .panel-default>.panel-heading a {
    display: block;
    /* border-bottom: 1px solid #e4e5e7; */
    color: #6a6c6f;
    font-size: 14px;
    font-weight: 400;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    position: absolute;
    right: 0;
  }

  .panel-body ul {
      list-style: disc;
      color: #6a6c6f;
      margin-left: 30px;
  }
  
  .panel-body table {
      border-color: #6a6c6f;
      color: #6a6c6f;
  }
  .panel-body table, th, td {
    border: 1px solid #6a6c6f;
    padding: 3px;
}
  .accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
  }
  
  .accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  .accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
  }
  
  .accordion-option .toggle-accordion:before {
    content: "Expand All";
  }
  
  .accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
  }



  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 34%;
    position: relative;
    float: left;
  }
  .rating + p {
    margin-top: 13px;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    color: #fec603;
    font-size: 20px;
    width: 20px;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    cursor: pointer;
    color: #fec603;
    -webkit-animation: mymove 2s;
    animation: mymove 2s;
    animation-direction:normal;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
  }
       
  /* Chrome, Safari, Opera */
  @-webkit-keyframes mymove {
    from {color: #fec603;}
    to {color: #fec603;}
  }

.form-control {
    color: #929496;
    margin: 0;
    width: 100% !important;
}

.contact_submit_button {
    width: 100%;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 15px;
}

.cart-img {
    width: 100%;
    margin-top: 40px;
}